<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="navbar-brand">Programacion Computacional IV</h1>
</nav>
<div style="margin-top: 30px">
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-success">Register</a>
</div>
